USE [master]
GO
/****** Object:  Database [World]    Script Date: 9/12/2013 10:14:46 PM ******/
CREATE DATABASE [World]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [World].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [World]
GO
/****** Object:  User [logteam]    Script Date: 9/12/2013 10:14:46 PM ******/
CREATE USER [logteam] FOR LOGIN [logteam] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 9/12/2013 10:14:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cities](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](50) NOT NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[CountryId] [char](3) NOT NULL,
	[Population] [int] NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Continents]    Script Date: 9/12/2013 10:14:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Continents](
	[ContinentId] [int] IDENTITY(1,1) NOT NULL,
	[ContinentName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Continents] PRIMARY KEY CLUSTERED 
(
	[ContinentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Countries]    Script Date: 9/12/2013 10:14:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryId] [char](3) NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[SurfaceArea] [float] NULL,
	[Population] [int] NULL,
	[FlagImage] [image] NULL,
	[ContinentId] [int] NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Country_Languages]    Script Date: 9/12/2013 10:14:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country_Languages](
	[CountryId] [char](3) NOT NULL,
	[LanguageId] [int] NOT NULL,
 CONSTRAINT [PK_Country_Languages] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC,
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Languages]    Script Date: 9/12/2013 10:14:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[LanguageId] [int] IDENTITY(1,1) NOT NULL,
	[LanguageName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Languages] PRIMARY KEY CLUSTERED 
(
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([CityId], [CityName], [Latitude], [Longitude], [CountryId], [Population]) VALUES (302, N'Wilmington', 39.72, -75.53, N'USA', NULL)
INSERT [dbo].[Cities] ([CityId], [CityName], [Latitude], [Longitude], [CountryId], [Population]) VALUES (303, N'Beausoleil', 43.75, 7.43, N'FRA', NULL)
INSERT [dbo].[Cities] ([CityId], [CityName], [Latitude], [Longitude], [CountryId], [Population]) VALUES (305, N'Bruguières', 43.73, 1.42, N'FRA', NULL)
GO
SET IDENTITY_INSERT [dbo].[Cities] OFF
SET IDENTITY_INSERT [dbo].[Continents] ON 

INSERT [dbo].[Continents] ([ContinentId], [ContinentName]) VALUES (1, N'South America')
INSERT [dbo].[Continents] ([ContinentId], [ContinentName]) VALUES (2, N'North America')
INSERT [dbo].[Continents] ([ContinentId], [ContinentName]) VALUES (3, N'Asia')
SET IDENTITY_INSERT [dbo].[Continents] OFF
INSERT [dbo].[Country_Languages] ([CountryId], [LanguageId]) VALUES (N'ARG', 3)
INSERT [dbo].[Country_Languages] ([CountryId], [LanguageId]) VALUES (N'AZE', 11)
INSERT [dbo].[Country_Languages] ([CountryId], [LanguageId]) VALUES (N'BRA', 4)
SET IDENTITY_INSERT [dbo].[Languages] ON 

INSERT [dbo].[Languages] ([LanguageId], [LanguageName]) VALUES (1, N'English')
INSERT [dbo].[Languages] ([LanguageId], [LanguageName]) VALUES (2, N'Chinese')
INSERT [dbo].[Languages] ([LanguageId], [LanguageName]) VALUES (3, N'Spanish')
SET IDENTITY_INSERT [dbo].[Languages] OFF
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_Countries] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_Countries]
GO
ALTER TABLE [dbo].[Countries]  WITH CHECK ADD  CONSTRAINT [FK_Countries_Continents] FOREIGN KEY([ContinentId])
REFERENCES [dbo].[Continents] ([ContinentId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Countries] CHECK CONSTRAINT [FK_Countries_Continents]
GO
ALTER TABLE [dbo].[Country_Languages]  WITH CHECK ADD  CONSTRAINT [FK_Country_Languages_Countries] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Country_Languages] CHECK CONSTRAINT [FK_Country_Languages_Countries]
GO
ALTER TABLE [dbo].[Country_Languages]  WITH CHECK ADD  CONSTRAINT [FK_Country_Languages_Languages] FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Languages] ([LanguageId])
GO
ALTER TABLE [dbo].[Country_Languages] CHECK CONSTRAINT [FK_Country_Languages_Languages]
GO
USE [master]
GO
