<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDayOfWeekService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:18773/DayOfWeekService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDayOfWeekService"
                contract="DayOfWeekServiceReference.IDayOfWeekService" name="BasicHttpBinding_IDayOfWeekService" />
        </client>
    </system.serviceModel>
</configuration>