<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_01.School.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="School.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_01.School.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="School.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <_01.School.Properties.Settings>
            <setting name="NextStudentId" serializeAs="String">
                <value>10000</value>
            </setting>
        </_01.School.Properties.Settings>
        <School.Properties.Settings>
            <setting name="NextStudentId" serializeAs="String">
                <value>10000</value>
            </setting>
        </School.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <_01.School.Properties.Settings>
            <setting name="StudentIdMinValue" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="StudentIdMaxValue" serializeAs="String">
                <value>99999</value>
            </setting>
        </_01.School.Properties.Settings>
        <School.Properties.Settings>
            <setting name="StudentIdMinValue" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="StudentIdMaxValue" serializeAs="String">
                <value>99999</value>
            </setting>
        </School.Properties.Settings>
    </applicationSettings>
</configuration>