USE [master]
GO
/****** Object:  Database [Supermarket]    Script Date: 7/22/2013 8:58:15 PM ******/
CREATE DATABASE [Supermarket]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Supermarket', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Supermarket.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Supermarket_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Supermarket_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Supermarket].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Supermarket]
GO
/****** Object:  User [logteam]    Script Date: 7/22/2013 8:58:15 PM ******/
CREATE USER [logteam] FOR LOGIN [logteam] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[LocalShops]    Script Date: 7/22/2013 8:58:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalShops](
	[LocalShopId] [int] IDENTITY(1,1) NOT NULL,
	[LocalShopName] [nvarchar](45) NOT NULL,
 CONSTRAINT [PK_LocalShops] PRIMARY KEY CLUSTERED 
(
	[LocalShopId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 7/22/2013 8:58:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[VendorId] [int] NOT NULL,
	[ProductName] [nvarchar](45) NOT NULL,
	[UnitId] [int] NOT NULL,
	[BasePrice] [money] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Reports]    Script Date: 7/22/2013 8:58:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[LocalShopId] [int] NOT NULL,
	[ReportDate] [datetime] NOT NULL,
	[ReportTotalSum] [money] NOT NULL,
 CONSTRAINT [PK_Reports] PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sales]    Script Date: 7/22/2013 8:58:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[ReportId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[ProductQuantity] [float] NOT NULL,
	[ProductUnitPrice] [money] NOT NULL,
	[ProductTotalSum] [money] NOT NULL,
 CONSTRAINT [PK_Sales_1] PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Units]    Script Date: 7/22/2013 8:58:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[UnitId] [int] IDENTITY(1,1) NOT NULL,
	[UnitName] [nvarchar](45) NOT NULL,
 CONSTRAINT [PK_Units] PRIMARY KEY CLUSTERED 
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 7/22/2013 8:58:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[VendorId] [int] IDENTITY(1,1) NOT NULL,
	[VendorName] [nvarchar](45) NOT NULL,
 CONSTRAINT [PK_Vendors] PRIMARY KEY CLUSTERED 
(
	[VendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[LocalShops] ON 

INSERT [dbo].[LocalShops] ([LocalShopId], [LocalShopName]) VALUES (4, N'Supermarket “Bourgas – Plaza”')
INSERT [dbo].[LocalShops] ([LocalShopId], [LocalShopName]) VALUES (5, N'Supermarket “Kaspichan – Center”')
INSERT [dbo].[LocalShops] ([LocalShopId], [LocalShopName]) VALUES (6, N'Supermarket “Bay Ivan” – Zmeyovo')
SET IDENTITY_INSERT [dbo].[LocalShops] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [VendorId], [ProductName], [UnitId], [BasePrice]) VALUES (2, 46, N'Beer "Zagorka"', 1, 0.8600)
INSERT [dbo].[Products] ([ProductId], [VendorId], [ProductName], [UnitId], [BasePrice]) VALUES (3, 45, N'Vodka "Targovishte"', 3, 7.5600)
INSERT [dbo].[Products] ([ProductId], [VendorId], [ProductName], [UnitId], [BasePrice]) VALUES (4, 12, N'Beer "Beck''s"', 1, 1.0300)
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[Reports] ON 

INSERT [dbo].[Reports] ([ReportId], [LocalShopId], [ReportDate], [ReportTotalSum]) VALUES (3, 4, CAST(0x0000A20100000000 AS DateTime), 156.0000)
INSERT [dbo].[Reports] ([ReportId], [LocalShopId], [ReportDate], [ReportTotalSum]) VALUES (4, 5, CAST(0x0000A20100000000 AS DateTime), 142.6000)
INSERT [dbo].[Reports] ([ReportId], [LocalShopId], [ReportDate], [ReportTotalSum]) VALUES (5, 6, CAST(0x0000A20100000000 AS DateTime), 51.1500)
SET IDENTITY_INSERT [dbo].[Reports] OFF
INSERT [dbo].[Sales] ([ReportId], [ProductId], [ProductQuantity], [ProductUnitPrice], [ProductTotalSum]) VALUES (3, 2, 37, 1.0000, 37.0000)
INSERT [dbo].[Sales] ([ReportId], [ProductId], [ProductQuantity], [ProductUnitPrice], [ProductTotalSum]) VALUES (3, 3, 14, 8.5000, 119.0000)
INSERT [dbo].[Sales] ([ReportId], [ProductId], [ProductQuantity], [ProductUnitPrice], [ProductTotalSum]) VALUES (4, 2, 65, 0.9200, 59.8000)
SET IDENTITY_INSERT [dbo].[Units] ON 

INSERT [dbo].[Units] ([UnitId], [UnitName]) VALUES (1, N'liters')
INSERT [dbo].[Units] ([UnitId], [UnitName]) VALUES (2, N'pieces')
INSERT [dbo].[Units] ([UnitId], [UnitName]) VALUES (3, N'bottles')
SET IDENTITY_INSERT [dbo].[Units] OFF
SET IDENTITY_INSERT [dbo].[Vendors] ON 

INSERT [dbo].[Vendors] ([VendorId], [VendorName]) VALUES (1, N'Exotic Liquids')
INSERT [dbo].[Vendors] ([VendorId], [VendorName]) VALUES (2, N'New Orleans Cajun Delights')
INSERT [dbo].[Vendors] ([VendorId], [VendorName]) VALUES (3, N'Grandma Kelly''s Homestead')
SET IDENTITY_INSERT [dbo].[Vendors] OFF
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Units] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Units] ([UnitId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Units]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Vendors] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendors] ([VendorId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Vendors]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_LocalShops] FOREIGN KEY([LocalShopId])
REFERENCES [dbo].[LocalShops] ([LocalShopId])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_LocalShops]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Products]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Reports] FOREIGN KEY([ReportId])
REFERENCES [dbo].[Reports] ([ReportId])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Reports]
GO
USE [master]
GO
