body {
    font-family: Arial, sans-serif;
    font-size: .9em;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid #000;
    padding: 4px;
}

    td.left-col, td#state-cell {
        text-align: right;
        font-weight: bold;
    }

    td.left-col {
        width: 160px;
        padding-right: 4px;
    }

tfoot {
    background-color: rgb(209, 237, 225);
    text-align: center;
}

textarea {
    width: 290px;
}

    textarea#address {
        height: 60px;
    }

    textarea#comments {
        height: 80px;
    }

select#country {
    width: 220px;
}

select#gender {
    width: 75px;
}

input, textarea, select {
    padding: 0;
    margin: 0;
    resize: none;
}

    input[type=submit] {
        background-color: rgb(212, 208, 200);
        width: 55px;
        height: 20px;
    }

    input[type=reset] {
        background-color: rgb(212, 208, 200);
        width: 108px;
        height: 20px;
    }
