<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStringOccurrencesService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/StringOccurrencesService/StringOccurrencesService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStringOccurrencesService"
                contract="IStringOccurrencesService" name="BasicHttpBinding_IStringOccurrencesService" />
        </client>
    </system.serviceModel>
</configuration>