USE [master]
GO
/****** Object:  Database [ToDosDb]    Script Date: 9/13/2013 8:46:27 AM ******/
CREATE DATABASE [ToDosDb]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToDosDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToDosDb]
GO
/****** Object:  User [logteam]    Script Date: 9/13/2013 8:46:27 AM ******/
CREATE USER [logteam] FOR LOGIN [logteam] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 9/13/2013 8:46:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ToDos]    Script Date: 9/13/2013 8:46:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToDos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Body] [nvarchar](max) NULL,
	[LastUpdated] [datetime] NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_ToDos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'Urgent')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'Important')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'Shopping')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[ToDos] ON 

INSERT [dbo].[ToDos] ([Id], [Title], [Body], [LastUpdated], [CategoryId]) VALUES (1, N'Kindergarten', N'Get the children from the kindergarten', CAST(0x0000A23800000000 AS DateTime), 1)
INSERT [dbo].[ToDos] ([Id], [Title], [Body], [LastUpdated], [CategoryId]) VALUES (2, N'The dog', N'Walk the dog in the park.', CAST(0x0000A1F600000000 AS DateTime), 2)
INSERT [dbo].[ToDos] ([Id], [Title], [Body], [LastUpdated], [CategoryId]) VALUES (3, N'Dinner', N'Buy some food for dinner', CAST(0x0000A21400000000 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[ToDos] OFF
ALTER TABLE [dbo].[ToDos]  WITH CHECK ADD  CONSTRAINT [FK_ToDos_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[ToDos] CHECK CONSTRAINT [FK_ToDos_Categories]
GO
USE [master]
GO
